* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main{
  background-color: black;
  height: calc(90vh - 100px);
  overflow: auto;
}

.d-flex{
  display: flex;
}

/* header */

header{
  position: sticky;
  background-color: black;
  justify-content: end;
  color: white;
  height: 100px;
}

header div{
  display: inline-block;
  margin: 2px;
}

header div p{
  display: inline-block;
  background-color: grey ;
  padding: 5px;
  border-radius: 7px;
}

header div div{
  background-color: grey;
  padding: 5px;
  border-radius: 7px;
}

.container{
  margin: 0 auto;
  max-width: 100%;
  flex-wrap: wrap;
}

.container-2{
  margin: 0 auto;
  max-width: 100%;
}

/* main */


.container, img{
  justify-content: center;
  align-items: center;
}

.images{
  position: relative;
  padding: 3px;
}
/* main */


.mute{
  position: absolute;
  bottom: 5px;
  padding: 5px;
  background-color: grey;
  color: white;

}

footer{
  position: sticky;
  background-color: #222222 ;
  height: 100px;
}

footer .container-2{
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.left{
  justify-content: left;
  align-content: center;
  padding: 10px;
  color: white;
}

.left .muto i{
  padding-right: 10px;
  font-size: 2rem;
}

.left .muto i:hover{
  color: green;
  cursor: pointer;
}

.left .muto p{
  line-height: 30px;
}

.arrow{
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.left .video i{
  font-size: 2rem;
}

.left .video i:hover{
  color: green;
  cursor: pointer;
}

.left .video p{
  line-height: 30px;
  
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 30px;

}

.right{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100%;
  color: red;
  cursor: pointer;
}

.right:hover{
  background-color: grey;
}

.icons i{
  font-size: 2rem;
  padding: 0 20px;
}

.icons i:active{
  color: green;
  cursor: pointer;
}

